/* declaring variables so that we can import and use it in main.scss file */

//colors
$color-primary: #7ed56f;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 8rem;
